<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(property='og:title', content='prueba de frontend')
        meta(property='og:type', content='formulario cotizacion de automoviles')
        meta(property='og:image', content='assets/images/logo.png')
        meta(name="keywords" content="crédito automotriz, comparador crédito automotriz")
        title prueba-front
        link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel="stylesheet", href="index.css")
    body
        header.o-header
            img(src="assets/images/logo.png", alt="", srcset="")
        main.o-main
            form.c-form#formQuote
                h6.c-form-title Cotiza tu Seguro Automotriz
                p.c-form-text ¡Resultados Instantáeos!
                .form-row.mt-5
                    .form-group.col-md-6.col-xs-12
                        .row.w-100
                            label.col-md-12.col-sm-4.c-form-label(for='cardBrand') Marca de carro
                            select#cardBrand.form-control.col-md-12.col-sm-8
                                option(selected='' disabled)
                                option Nissan
                                option BMW
                                option Lamborgini
                                option Porche
                            .invalid-feedback
                                la marca del auto es necesaria
                    .form-group.col-md-6.col-xs-12
                        .row.w-100
                            label.col-md-12.col-sm-4.c-form-label(for='cardModel') Modelo del auto
                            select#cardModel.form-control.col-md-12.col-sm-8(placeholder="modelo del auto")
                                option(selected='' disabled)
                                option 2017
                                option 2018
                                option 2019
                                option 2020
                            .invalid-feedback
                                la modelo del auto es necesario
                .form-row
                    .form-group.col-md-4.col-xs-12
                        .row.w-100
                            label.col-md-12.col-sm-4.c-form-label(for='cardAge') Año
                            select#cardAge.form-control.col-md-12.col-sm-8
                                option(selected='' disabled)
                                option 2017
                                option 2018
                                option 2019
                                option 2020
                            .invalid-feedback
                                la año del carro es necesari0
                    .form-group.col-md-8.col-xs-12
                        .row.w-100
                            label.col-md-12.col-sm-4.c-form-label(for='userEmail') Email
                            input#userEmail.form-control.col-md-12.col-sm-8(type='email')
                            .invalid-feedback
                                p Correo invalido no corresponde al formato micorreo@correo.com

                button.btn.btn-primary.w-100#btn_submit(type='button') Cotizar
    script(src="./index.js")